:root {
  --bg-color-dark: hsl(200, 100%, 10%);
  --bg-color-light: hsl(10, 100%, 20%);
  --color-offset: hsl(200, 100%, 85%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, var(--bg-color-dark), var(--bg-color-light));
  color: white;
}

#root {
  opacity: 0;
  transition: opacity 1500ms ease-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  margin: 1rem 0 3.5rem 1rem;
}

nav ul {
  /* position: absolute; */
  top: 2rem;
  left: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  list-style: none;
}

nav ul li a{
  margin: .25rem 0;
  color: var(--color-offset);
  transition: color 200ms, margin-left 200ms;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  color: red;
  margin-left: .6rem;
}

nav ul li a:focus {
  outline:none;
  color: red;
  margin-left: .6rem;
}

.sidebar {
  width: 190px;
  flex: 1;
  color: red;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 1rem 1rem;
  white-space: nowrap;
}

.sidebar li {
  margin-bottom: .25rem;
}

.sidebar-li-hover:hover, .sidebar-li-hover:focus {
  color: var(--color-offset);
  cursor: pointer;
}

.sidebar-li:active {
  color: lightslategray;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 750ms ease-in;
}

.frame-temp2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'label content content content content',
    'label content content content content',
    'label content content content content',
    'label content content content content';
}

.logo {
  color: aqua;
  font-weight: 400;
}

.search {
    border-radius: 4px;
    width: 50vw;
    min-width: 30rem;
    max-width: 50rem;
    height: 2.75rem;
    font-size: .95rem;
    padding: .6rem .6rem;
    transition: box-shadow 125ms;
    /* margin: 1.65rem auto 1.5rem auto; */
}

.search:focus {
  box-shadow: 0 0 1.75px 2.5px #223898;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  color: var(--bg-color-dark);
  margin-bottom: .75rem;
}

.button {
  border: 0;
  border-top-color: transparent;
  width: 6.5rem;
  height: 2.3rem;
  margin: .5rem 1.5rem;
  border-radius: 13.5px;
  background-color: var(--color-offset);
  transition-property: background-color, color;
  transition-duration: 135ms;
  transition-timing-function: ease-in;
}

.button:active {
  background-color: var(--bg-color-dark);
}

.button:focus {
  outline: none;
  background-color: var(--bg-color-dark);
  color: var(--color-offset);
}

.button:hover {
  background-color: var(--bg-color-dark);
  color: var(--color-offset);
  cursor: pointer;
}

.link-help {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: var(--color-offset) !important;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  padding: 0 4px;
  transition: display, opacity 2000ms ease-in-out;
}

.link-help:hover {
  outline: 1.5px solid white;
}

.link-help:active {
  outline: 2.5px solid white;
}

.link-help span {
  margin: auto 1.5px auto 0;
}

.help {
  color: var(--color-offset);
  width: 50%;
}

.help section {
  display: flex;
}

.help section div {
  margin: 2px auto 1rem 1rem;
  text-align: justify;
}

.help section label {
  font-size: 1.05rem;
  font-weight: bold;
  white-space: nowrap;
  flex: 0 0 75.5px;
  text-align: end;
}

.button-v2 {
  background-color: transparent;
  border: none;
  color: var(--color-offset);
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 200ms ease-in;
  margin-top: 1rem;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.button-v2:hover, .button-v2:focus {
  color: white;
}

.button-v2:active {
  color: red;
}

.bin-manager {
  z-index: 5;
  border-radius: 15px;
  background-color: rgba(30, 30, 30, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 45%;
  position: fixed;
  bottom: 50%;
  left: 25%;
  padding: 1.25rem 1.25rem;
}

.label-bin-manager {
  margin-right: .5rem;
}

.query-prompt {
  margin-bottom: 1.5rem;
}

.query-next {
  background-color: var(--bg-color-dark);
  color: var(--color-offset);
}

.query-next:hover, .query-next:focus {
  background-color: var(--bg-color-dark);
}

.query-next:active {
  background-color: var(--bg-color-dark);
}

.display-row {
  margin: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.display-row li {
  display: flex;
  flex-direction: column;
  position: relative;
}

.display-row li div {
  margin-top: 1rem;
  z-index: 2;
}

.display-row label {
  color: white;
  transition: color 100ms ease-in;
}

.display-row li label:hover {
  cursor: pointer;
  color: lightgray;
}

.display-row img {
  width: 210px;
  border-radius: 11.5px;
  box-shadow: 1.75vw 1.75vw 1.75rem 1rem rgb(20, 20, 20, .5);
  transition: transform 120ms ease-out;
}

.display-row li a {
  text-align: center;
}

.display-row li a img:hover, .display-row li a:focus img {
  transform: scale(1.05);
}

.movie-description {
  top: 100%;
  right: -30%;
  width: 200%;
  position: absolute;
  font-size: 1.3rem;
  padding: .5rem;
  background-color: rgb(120, 120, 120, .9);
  border-radius: 15px;
  z-index: 1;
  color: black;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
}

.display-row li a:hover + div + .movie-description, .display-row li a:focus + div + .movie-description {
  visibility: visible;
  transform: scale(1);
}

.toggler {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;
}

.toggler input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggler span {
  border-radius: 22.5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #aaa;
  transition: 400ms;
  --toggler-translation: 0;
}

.toggler span::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: 400ms;
  transform: translateX(var(--toggler-translation));
}

.button-manage-movie {
  background-color: transparent;
  color: lightskyblue;
  border: none;
  padding: .1rem;
}

.button-manage-movie:hover, .button-manage-movie:focus {
  background-color: var(--color-offset);
  color: darkslategray;
  box-shadow: 0 0 .25rem .05rem var(--color-offset);
  cursor: pointer;
}

.button-login {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 0 .2rem, .2rem var(--color-offset);
  background-color: transparent;
  border: none;
  transition: color 500ms ease-out;
}

.button-login:focus {
  color: red;
}

.register-1 {
  background-color: rgb(30, 25, 35, .75);
  color: white;
  border-radius: 15px;
  box-shadow: .9rem .9rem .25rem rgb(10, 10, 10, .25);
  width: 50%;
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.5rem;
  padding: .7rem
}

.ul-create-user select {
  margin: .35rem;
}

.input-register {
  height: 1.35rem;
  padding: .25rem;
  background-color: #ccc;
  border: none;
  margin: .25rem;
  width: 50%;
}

.prompt-register {
  margin: 0 1rem .85rem 1rem;
}

.button-register {
  background-color: white;
  border: none;
  transition: 150ms;
  border-radius: 2.5px;
  margin: .5rem;
  padding: .2rem;
  color: rgb(30, 25, 35);
  cursor: pointer;
}

.button-register:focus, .button-register:hover {
  color: white;
  background-color: black;
}

.button-filter {
  text-align: center;
  cursor: pointer;
  padding: 2px 2.5px;
  background-color: var(--bg-color-dark);border: 1px solid #bbb;
  color: var(--color-offset);
  width: 1rem;
  margin-left: .5rem;
  font-weight: bold;
}

.info-list {
  margin-bottom: 1rem;
}

.info-list li {
  display: flex;
  margin-Bottom: 5px;
}

.info-list label {
  flex: 0 0 100px;
  text-align: end;
}

.info-list span {
  margin: 0 1rem 0 1rem;
  text-align: justify;
  white-space: nowrap;
}

.profile-lower {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0rem;
  justify-items: space-evenly;
  align-items: center;
}

.profile-lower li {
  display: flex;
  justify-content: center;
}

.profile-lower div {
  width: 80%;
}

.profile-lower form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 0;
  max-width: 0;
  transition:
    transform 200ms ease-in, max-height 200ms ease-in,
    max-width 200ms ease-in;
  transform-origin: top;
  justify-content: center;
  align-items: center;
}

select {
  padding: 2px 4px;
  border-radius: 3px;
  border: 2px solid #ddd
}

.filter li {
  margin: .7rem 0;
}

.image-movie {
  /* width: 200px;
  height: 300px; */
  box-shadow: 1.5vw 1.5vw 1.5rem .55rem rgb(20, 20, 20, .5);
  border-radius: 11.5px;
}

.info-movie {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.info-movie li {
  box-shadow: .5vw .5vw .7rem .25rem rgb(30, 30, 30, .45);
  padding: 1rem;
  margin: .5rem;
  border-radius: 12.5px;
  background-color: rgba(30, 30, 30, .8);
}

.search-results {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem 0rem 2rem;
}

.search-results li {
  margin: 1rem 0;
  display: flex;
}

.search-results img {
  border-radius: 11.5px;
  box-shadow: 1.5vw 1.5vw 1.5rem .55rem rgb(20, 20, 20, .5);
  transition: transform 120ms ease-out;
}

.search-results img:hover, .search-results img:focus {
  transform: scale(1.05);
}

.search-results img:focus {
  outline: auto;
}

.search-results-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  cursor: pointer;
}

.search-results-info span:hover,
.search-results-info label:hover,
.search-results-info span:focus,
.search-results-info label:focus {
  color: silver;
  cursor: pointer;
}

.search-results-info span:focus,
.search-results-info label:focus {
  outline: auto;
}

@media (max-width: 1200px) {
  .movie-description {
    width: 150%;
    right: -20%;
    font-size: 1.15rem;
  }

  .display-row {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
  }

  .display-row img {
    width: 150px;
  }
}

@media (max-width: 1500px) {
  .movie-description {
    width: 175%;
    right: -25%;
  }
}

@media (max-width: 1800px) {
  .display-row {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .display-row img {
    width: 180px;
  }
}